@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Jost-M';
  src: url('../public/fonts/Jost-500-Medium.woff2') format('woff2');
  font-weight:500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost-B';
  src: url('../public/fonts/Jost-700-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost-R';
  src: url('../public/fonts/Jost-400-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.background-filter{
  backdrop-filter: blur(20.049999237060547px);
}

.box-shadow{
  box-shadow: 0 10px 50px 0 rgba(86, 133, 255, 0.15);
}

@media (min-width:1024px){
  .lg\:custom-color {
    background-color : rgba(86, 133, 255, 0.05);
  }
}


.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  border-radius: 16px;
  border: 1px solid #5685FF;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before, .toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: #003FE6;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: #003FE6;
}

.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.box-shadow-card {
  box-shadow: 0 10px 50px 0 rgba(86, 133, 255, 0.15);
  background-color: #fafafa;
}

.hr-line{
  border : 0;
  height : 1px;
  background : #001049;
  opacity :0.3;
}
